export ACCOUNT_KEYSTORE="ALICE"
export NODE_URL=http://localhost:3013
export TEST_COMPILER_URL=http://localhost:3080
export NODE_INTERNAL_URL=http://localhost:3113
export ACCOUNT_KEYSTORE_PATH=/home/andrea/.config/aeternity/andrea
export CONTRACT_ID=ct_C8ZNGGk9mMtkLJkPbExkHwFwcxtVFukPTVLwBCgTz1DeA5nSQ
export CONTRACT_ADDRESS=ak_C8ZNGGk9mMtkLJkPbExkHwFwcxtVFukPTVLwBCgTz1DeA5nSQ
export BOB_ADDRESS=ak_2okLUeaUEQrptYGSeF9AtR1mHeoso2FJzj6egWVbdDFfEe21ZN
export ALICE_ADDRESS=ak_2Y8FqVCKeomqyJw5AkNmu2oZkpK2gc9q74t3yrF9a84XhLHd1Y
export MERCHANT_ADDRESS=ak_pQbLq4uSsipYKzg2DUnMJamHnPYrdrbgtR7wXe6iLLARyhHKy
export AE_NAME="anameeverybodywants.chain"
